{% extends 'base.html' %}

{% block content %}
<h2>Create a new Hike</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'findamate:hike' %}" method="post">
    {% csrf_token %}
    <table>
    {{ form }}
    </table>
    <md-radio-group ng-model="data.group3">
        {% for choice in form.type %}
            <md-radio-button ng-value="{{choice.1}}" aria-label="{{choice.choice_label}}">
                <md-icon>menu</md-icon>
            </md-radio-button>
        {% endfor %}
    </md-radio-group>
    <input type="submit" value="Vote" />
</form>
{% endblock content %}